@charset "utf-8";

#web{
  background-image: url('mobile/bac.png');
  width: 360px;
  height: 600px;
  margin: 0;
  position: relative;
  top: 44px;
  left: 20px;
}
#phone{
  width: 400px;
  height: 680px;
  position: relative;
  bottom: 580px;

}
.time{
  width: 70px;
  position: relative;
  left: 280px;
}
header{
  font-size: 18px;
  color: grey;
  font-weight: bolder;
  text-align: center;
  width: 360px;
  height: 50px;
}
header>img{
  position: relative;
  width: 40px;
  height: 25px;
  right: 100px;
}
nav{
  font-weight: bolder;
  text-align: center;
  font-size: 15px;
  width: 360px;
  height: 30px;
}
nav>a{
  text-decoration: none;
  color: grey;
  margin-left: 5px;
  margin-right: 5px;
}
nav>a span{
  color: palevioletred;
}
#bar>img{
  position: relative;
  right: 40px;
}
#bar{
  position: relative;
  top: 15px;
  left: 58px;
  background-color: white;
  border: 1px solid black;
  height: 20px;
  width: 160px;
}
section{
  margin-top: 10px;
  padding: 20px;
  width: 360px;
  height: 500px;
}
article{
  display: inline-block;  
  width: 360px;
  padding: 5px;
}
.img{
  width: 360px;
  height: 60px;
  margin: 10px;
}
article>.img>a{
  position: relative;
  top: 10px;
  left: 35px;
  font-size: 11px;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}
.img>img{
  float: left;
  width: 58px;
  height: 58px;
}
footer{
  /* background-color: grey; */
  width: 360px;
  height: 60px;
  position: relative;
  bottom: 93px;
}
footer>img{
  width: 40px;
  margin-left: 37px;
  margin-top: 10px;
}
#qr{
  position: absolute;
  left: 500px;
  bottom: 300px;
}
@media screen and (max-width:768px){
  body{
  background-repeat: no-repeat;
  background-size: cover;
}
#phone{
  width: 0;
}
footer{
  background-color: grey;
  width: 360px;
  height: 60px;
}
}