@charset "utf-8";

body,div,a,h1,h2,h3,h4,h5,h6{margin: 0; padding: 0; font-family: 'Noto Serif KR', serif}
*{  margin: 0 auto; padding: 0;}
a { text-decoration: none;}
img{ border:0; }
h1 { font-size: 35px;}

.clearfix:before,
.clearfix:after{content: ''; display: block; clear: both;}

#wrap{
    width: 100%;
    /* background-color: #000; */
}
.back-img{
    background-image: url('../img/purple-paint-splatter-photo-2538504.jpg');
    background-size: cover;
    background-position: center;
}
header{
    width: 100%;
    height: 95vh;
    /* background-color: coral; */
    text-align: right;
    font-size: 30px;
}
header p{
    display: inline-block;
    margin-top: 300px;
    font-size: 2em;
    color: #fff;
}
header span{
    color: #fff;
    font-size: 30px;
}
/* 네비메뉴 */
nav{
    text-align: right;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* background-color: #000000; */
    /* background: #b50004; */
    /* background: rgba(237, 146, 240, 0.5); */
    height: 50px;
}
nav a{
    padding: 20px 0px 10px 13px;
    color: #fff;
    line-height: 50px;
}
nav a:hover{
    font-weight: bolder;
}
/* 어바웃 */
#about{
    height: 100vh;
    /* background: #000; */
    /* background-color: darkorange; */
}
#about img{
    margin: 0 0 0 330px;
}
#about h1{
    text-align: center;
    padding: 80px 0 60px 0;
}
#about h2{
    padding: 20px 0 40px;
    text-align: center;
    color: cornflowerblue;
/*
    border: 1px solid #000;
    background: #000;
    color: #fff;
    width: 300px;
    height: 10px;
    line-height: 20px;
    margin: 0 0 0 450px;
*/
}
#about p{
    text-align: center;
    padding: 30px;
    width: 80%;
}
#about h3{
    text-align: center;
}


/* 포트폴리오 */
#portfolio{
    /* width: 100%;     */
    height: 150vh;
    /* background-color: #fff; */
}
#portfolio h1{
    text-align: center;
    padding: 80px 0 60px 0;
}
#title ul li{
    display: inline-block;
    margin: 10px;
}
#title ul{
    margin: 0 0 0 145px;
}
#title ul li a{
    color: #000;
}
.port-layout{
    /* background-color: #fff; */
    width: 80%;
    height: 900px;
    box-sizing: border-box;
    position: relative;
    top: 50px;
    left:25px;
    margin: 0 auto;
    /* display: block; */
}

.box{ 
    width: 30%; 
    height: 30%; 
    float: left;
    margin: 10px;
    /* background: red; */
}
.box h3{
    text-align: center;
    padding: 80px 0 10px 0;
    color: #fff;
}
.box p{
    text-align: center;
    color: #fff;
    font-size: 13px;
}
.box .port_text{
    width: 260px;
    height: 246px;
     position: relative;
     top: -258px;
     left: 14px;
     /* background-color: rgba(0, 0, 0, 0.5);  */
     /* background-color: blueviolet; */
     opacity: 0;
     /* z-index: 1; */
}

.box img{
    display: block;
    position: relative;
    width: 286px;
    height: 270px;
    /* z-index: 1; */
}
.box:hover .port_text{
    background-color: rgba(0, 0, 0, 0.5);
    /* background: burlywood; */
    opacity: 1;
    transform: scale(1.1); 
    transition: all 0.5s;
}



#contact{
    height: 95vh;
}
#contact h1{
    text-align: center;
    padding: 80px 0 60px 0;
}
/* 컨테이너 */
.container{
    width: 1200px;
    /* background: rgba(255,255,255,0.3); */
    margin: 0 auto;
    height: inherit;
}

/*레이어팝업*/
.popup_main1,.popup_main2,.popup_main3,.popup_main4,.popup_main5,.popup_main6
,.popup_main7,.popup_main8,.popup_main9{
    display: none;
    position: fixed;
    left: 600px;
    top: 100px;
    border: 1px solid #000;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    overflow: scroll;
    overflow-x: hidden;
    width:760px;
	height:80%;
}
.popup_main1 img,.popup_main2 img,.popup_main3 img,.popup_main4 img,.popup_main5 img
,.popup_main6 img,.popup_main7 img,.popup_main8 img,.popup_main9 img{
    width: 100%;
    display: block;
}
.close1,.close2,.close3,.close4,.close5,.close6,.close7,.close8,.close9{ 
    position: fixed;
    right: 570px;
    top: 120px;
/*    background: #0093bd;*/
    padding: 1px 6px;
    color: #fff;
    width: 30px;
}
/* .popup4{
    overflow: scroll;
    overflow-x: hidden;

} */

 .visivle{
     display: block;

 }

